<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0rem 2rem;">
  <div class="container-fluid">
    <div>
      <!--      <div class="justify-content-center" *ngFor="let user of user | async">-->
      <div class="justify-content-center">
        <img class="rounded-circle z-depth-2" alt="100x100"
             [src]="(user | async)?.img"
             data-holder-rendered="true" style="max-height: 4rem; margin-left: 25%">
      </div>
      <div>
        <h3>{{(user | async)?.name}}</h3>
      </div>
    </div>


    <div class="justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">Ranking Table</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
