<div class="container-xxl mb-5">
  <div class="row mt-4">
    <h3>Statistics</h3>
    <div class="col-sm-12 col-lg-5 d-flex justify-content-center">
      <div style="width: 15rem;height: 15rem" class="">
        <canvas id="canvas">{{chart}}</canvas>
      </div>
    </div>

    <div class="col-sm-12 col-lg-7">
      <div class="row">
        <h6>Totale Games : </h6> <span class="badge bg-secondary">{{(game$ | async)?.total_items}} Game</span>

      </div>
      <div class="row">
        <div class="col-4">Win : <span class="badge bg-success">{{(game$ | async)?.win}}</span></div>
        <div class="col-4">Draw : <span class="badge bg-warning text-dark">{{(game$ | async)?.draw}}</span></div>
        <div class="col-4">Lose : <span class="badge bg-danger">{{(game$ | async)?.lose}}</span></div>
      </div>
    </div>
  </div>

  <app-play></app-play>

</div>


