<app-navbar *ngIf="render_navbar" ></app-navbar>
<div class="container mt-5">
  <div class="row">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-center">
          <div style=" border-radius: 15%">
            Score = 3 x <span class="badge rounded-pill bg-success">Win</span> + 1 x <span
            class="badge rounded-pill bg-warning bg-warning">Draw</span>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col"><span class="badge bg-success">Win</span></th>
            <th scope="col"><span class="badge bg-warning">Draw</span></th>
            <th scope="col"><span class="badge bg-danger">Lose</span></th>
            <th scope="col"><span class="badge" style="background: deeppink">Score</span></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let r of rank; let i=index">
            <th scope="row">{{i + 1}}</th>
            <td>
              <img class="rounded-circle z-depth-2" [src]="r.user_img" style="max-width: 2rem;">
              {{r.user_name}}
            </td>
            <td>{{r.wins}}</td>
            <td>{{r.draws}}</td>
            <td >{{r.loses}}</td>
            <td>{{r.score}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div>
      </div>
    </div>
  </div>

</div>
