<app-navbar></app-navbar>
<div class="container mt-5">


  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-12 col-md-3">
          Note that :
        </div>
        <div class="col-sm-12 col-md-4 d-flex justify-content-center">
          <div style="background: #e2e2ea; border-radius: 15%" >
            Score =  3 x <span class="badge rounded-pill bg-success">Win</span> + 1 x <span
            class="badge rounded-pill bg-warning text-dark">Draw</span>
          </div>
        </div>
      </div>



    </div>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col"><span class="badge bg-success">Win</span></th>
          <th scope="col"><span class="badge bg-warning">Draw</span></th>
          <th scope="col"><span class="badge bg-danger">Lose</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>@fat</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
